.container {
  width: 15em;
  margin: 0 0.2em;
  float: left;
}
.pic img {
  width: 100%;
}
.title {
  font-weight: bold;
  margin-bottom: 1em;
}
.channel,
.views {
  font-size: small;
  color: #ccc;
  margin-bottom: 0.2em;
}
.views span {
  padding: 0 0.5em;
}
.pic{
  position: relative;
}
.close{
  position: absolute;
  width: 20%;
  top: -40px;
  right: 0;
  z-index: 11;
}
.edit{
  position: absolute;
  width: 20%;
  top: -40px;
  left: 0;
  z-index: 11;
}