.main{
    width: 1000px;
    height: 540px;
    background: #f44336;
}
.row1{
    width: 1000px;
    height: 100px;
    background: #e91e63;
    font-size: 50px;
    text-align: center;
}
.row2{
    width: 1000px;
    height: 40px;
    background-color: #9c27b0;
    color: white;
    text-align: center;
    font-size: 25px;
}
.row2-col1{
    width: 200px;
    height: 40px;
    background-color: rgb(35, 43, 43);
    float: left;
}
.row2-col2{
    width: 200px;
    height: 40px;
    background-color: rgb(238, 30, 217);
    float: left;
}
.row2-col3{
    width: 200px;
    height: 40px;
    background-color: rgb(191, 255, 0);
    float: left;
}
.row2-col4{
    width: 200px;
    height: 40px;
    background-color: rgb(34, 48, 40);
    float: left;
}
.row2-col5{
    width: 200px;
    height: 40px;
    background-color: rgb(110, 56, 56);
    float: left;
}
.row3{
    width: 1000px;
    height: 200px;
    background-color: coral;
}
.row3-col1{
    width: 250px;
    height: 200px;
    background-color: yellowgreen;
    color: white;
    text-align: center;
    font-size: 20px;
    float: left;
}
.row3-col2{
    width: 750px;
    height: 200px;
    float: left;
}
.row3-1{
    width: 250px;
    height: 40px;
    background-color: rgb(46, 2, 2);
}
.row3-2{
    width: 250px;
    height: 40px;
    background-color: rgb(44, 14, 14);
}
.row3-3{
    width: 250px;
    height: 40px;
    background-color: rgb(231, 137, 137);
}
.row3-4{
    width: 250px;
    height: 40px;
    background-color: rgb(58, 43, 43);
}
.row3-5{
    width: 250px;
    height: 40px;
    background-color: rgb(249, 88, 88);
}
.row4{
    height: 50px;
    width: 1000px;
    background-color: chartreuse;
    text-align: center;
    font-size: 50px;
    color: white;
}
.row5{
    width: 1000px;
    height: 100px;
    background-color: darksalmon;
}
.row5-col1{
    width: 333px;
    height: 100px;
    background-color: dimgrey;
    float: left;
}
.row5-col2{
    width: 333px;
    height: 100px;
    background-color: rgb(134, 39, 39);
    float: left;
}
.row5-col3{
    width: 333px;
    height: 100px;
    background-color: rgb(217, 51, 51);
    float: left;
}
.row6{
    width: 1000px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    color: white;

}