@import '../../style-config/mixins.scss';
.blogs-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 75px;
    flex-wrap: wrap;
    @include small-screen{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}