@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@layer components {
  .btn {
    @apply bg-primary w-fit py-4 px-5 rounded-full uppercase text-[14px] text-white hover:shadow-lg transition-all duration-200 hover:bg-white hover:text-primary;
  }
}
