* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --black: #000;
  --cardBorder: #ffffff30;
  --cardBackground: #ffffff1a;
  --btnBg: #ffffff00;
  --btnFocus: #ffffffb9;

  --facebook: #1771e6;
  --twitter: #1c99e6;
  --instagram: #cb2770;
  --whatsapp: #2fe664;
  --telegram: #0081c2;
  --github: rgb(88, 101, 242);
}
